@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: #1E1B1Aff;
}

main {
    background-color: #1E1B1Aff;
    color: #CBB0A2ff;
}

a {
    color: #50232Cff;
}

.titulo-destaque {
    color: #50232Cff;
}

.paragrafo-destaque {
    color: #50232Cff;
}

.apresentacao {
    margin: 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-weight: 400;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}