body {
    background-color: #CBB0A2ff;
}

header {
    background-color: #1E1B1Aff;
    color: #CBB0A2ff;
}

main {
    background-color: #1E1B1Aff;
    color: #CBB0A2ff;
}

footer {
    background-color: #332024ff;
    color: #CBB0A2ff;
}

strong {
    color: #50232Cff;
}

span {
    border: 1px solid #50232Cff;
}

a {
    color: #50232Cff;
}